<div class="col-2"></div>
<div class="col-2 h-100 position-fixed" style="background-color: #6182e6;">
    <div class="logoheader text-center">
        <a href="index.html">
            <img src="/images/logoadmin.png" alt="" class="img-fluid" style="width: 120px;">
        </a>
    </div>
    <hr class="border-light border-2">

    <div class="list p-3 accordion">
        <p>
            <a class="text-decoration-none" href="#!dashboard" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Dashboard
            </a>
        </p>
        <hr class="border-light border-2">
        <p>
            <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-bars"></i> Quản lý
            </a>
            <a class="text-white float-end"><i class="fa-solid fa-chevron-down"></i></a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <ul class="list-unstyled">
                    <li class="p-2"><a href="#!/list-products" class="text-dark text-decoration-none"><i
                                class="fa-brands fa-product-hunt"></i> Sản phẩm</a></li>
                    <hr>
                    <li class="p-2"><a href="#!/list-users" class="text-dark text-decoration-none"><i
                                class="fa-solid fa-user"></i>
                            Người dùng</a></li>
                    <hr>
                    <li class="p-2"><a href="#!/list-vouchers" class="text-dark text-decoration-none"><i class="fa-solid fa-ticket"></i>
                            Voucher</a></li>
                    <hr>
                    <li class="p-2"><a href="#!/list-bills" class="text-dark text-decoration-none"><i class="fa-light fa-ballot-check"></i>
                            Đơn hàng</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>