<h3>Thêm mới sản phẩm</h3>
<hr class="border-2">
<div class="">
    <form class="form-control" name="formProduct" novalidate>
        <div class="mb-2 mt-2">
            <label for="" class="label-control">Name</label>
            <input type="text" class="form-control" ng-model="form_product.name" name="name" ng-required="true">
           <span class="text-danger fst-italic" ng-show="validate.name">Vui lòng nhập tên sản phẩm</span>
        </div>
        <div class="mb-2 mt-2">
            <label for="" class="label-control">Price</label>
            <input type="text" class="form-control" ng-model="form_product.price" name="price" ng-required="true">
            <span class="text-danger fst-italic" ng-show="validate.price">Vui lòng nhập giá sản phẩm</span>
            <span class="text-danger fst-italic" ng-show="validate.invalid_price">Giá sản phẩm không hợp lệ</span>
        </div>
        <div class=" mb-2 mt-2">
            <label for="" class="label-control">Category</label>
            <select class="form-select" ng-model="form_product.category" name="category" ng-required="true">
                <option value="" hidden></option>
                <option value="Áo" >Áo</option>
                <option value="Quần" >Quần</option>
                <option value="Giày" >Giày</option>
                <option value="sport" >Thể thao</option>
            </select>
            <span class="text-danger fst-italic" ng-show="validate.category">Vui lòng chọn loại sản phẩm</span>
        </div>
        <div class="mb-2 mt-2">
            <label for="" class="label-control">Description</label>
            <textarea cols="30" rows="10" class="form-control" ng-model="form_product.description" name="description" ng-required="true"></textarea>
            <span class="text-danger fst-italic" ng-show="validate.description">Vui lòng nhập mô tả sản phẩm</span>
        </div>
        <div class="mb-2 mt-2">
            <label for="" class="label-control">Ảnh</label>
            <input type="text" class="form-control" ng-model="form_product.image" name="image" ng-required="true">    
            <span class="text-danger fst-italic" ng-show="validate.image">Vui lòng thêm ảnh sản phẩm</span>
        </div>
        <p class="text-success fst-italic" ng-show="successAddProduct">Thêm sản phẩm thành công</p>
        <button class="btn btn-primary mt-2" ng-click="addProduct()" type="button">Thêm</button>
    </form>
</div>