<div class="p-4 justify-content-around d-flex" style="background-color: #EDE734">
    <div class=""></div>
    <h3 class="fw-bolder">BECOME A MEMBER & GET 15% OFF</h3>
    <a href="register.html" class="btn btn-dark p-3 w-25">Sign Up For Free <i class="fa-light fa-right-long"></i></a>
    <div class=""></div>
</div>

<div class="footer-1 d-md-block">
    <div class="row justify-content-between d-flex">
        <div class="col-2"></div>
        <div class="col-1 p-2">
            <p class="fw-bold">PRODUCTS</p>
            <ul class="list-unstyled nav-link ">
                <li><a href="" class="text-black text-decoration-none">Áo</a></li>
                <li><a href="" class="text-black text-decoration-none">Quần</a></li>
                <li><a href="" class="text-black text-decoration-none">Giày</a></li>
                <li><a href="" class="text-black text-decoration-none">Thể thao</a></li>
            </ul>
        </div>
        <div class="col-1 p-2">
            <p class="fw-bold">SPORTS</p>
        </div>
        <div class="col-1 p-2">
            <p class="fw-bold">COLLECTIONS</p>
        </div>
        <div class="col-1 p-2">
            <p class="fw-bold">COMPANY INFO</p>
        </div>
        <div class="col-1 p-2">
            <p class="fw-bold">SUPPORT</p>
        </div>
        <div class="col-1 p-2">
            <p class="fw-bold">FOLLOW US</p>
            <ul class="list-unstyled nav-link ">
                <li><a href="" class="text-black text-decoration-none"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li><a href="" class="text-black text-decoration-none"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li><a href="" class="text-black text-decoration-none"><i class="fa-brands fa-tiktok"></i></a></li>
                <li><a href="" class="text-black text-decoration-none"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="" class="text-black text-decoration-none"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="footer-2 text-white text-center" style="background-color: #282C31;">
    <div class="p-3">footer</div>
</div>